@using Net14Web.DbStuff.Models.PcShop
@model List<Pc>

@{
    Layout = "_LayoutPcShop";
}

<div>
    <table>
        <tr><th>Id компьютера</th><th>Компьютер</th><th>Описание</th><th>Процессор</th></tr>
        @foreach (var PC in Model)
        {
            <tr><td>@PC.Id</td><td>@PC.PCModel.Name</td><td>@PC.PCModel.Description</td><td>@PC.CPU?.ToString()</td></tr>
        }  
    </table>
</div>