<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
